<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? "hop2 - #{yield(:title)}" : "hop2" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav class='top-bar' data-topbar>
      <ul class='title-area'>
        <li class='name'>
          <h1><%= link_to root_path do %>hop<sup>2</hop><% end %></h1>
        </li>
      </ul>

      <section class='top-bar-section'>
        <ul class='right'>
          <% if user_signed_in? %>
            <li><%= link_to current_user.email, user_path(current_user) %></li>
            <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li class='<%= 'active' if content_for(:sign_in) %>'><%= link_to 'Sign in', new_user_session_path %></li>
            <li class='<%= 'active' if content_for(:sign_up) %>'><%= link_to 'Sign up', new_user_registration_path %></li>
          <% end %>
        </ul>
      </section>
    </nav>

    <div class='row'>
      <%= yield %>
    </div>
    <%= javascript_include_tag "application" %>
    <div class="flash">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
  </body>
</html>
